body {
    font-family: arial, serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
}

pre {
/*  background:none repeat scroll #f9f9f9;*/
/*  border-left:5px solid #ccc;*/
/*  border: 2px solid #ccc;*/
  clear:both;
  font:normal normal normal 11px/18px Monaco, monospace;
  margin-bottom:18px;
  overflow:auto;
  padding:10px 15px;
}

img.logo {
  position: relative; /* or fixed or absolute */
  height: 60px;
  left: 25%;
}

.excel {
  background-color: #018641;
}
.evolve {
  background-color: #2e82ba;
}
.tactac {
  background-color: #68cf9b;
}

div.indicator {
  vertical-align: top;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
  position: relative;
  width: 250px;
  min-height: 100px;
  background: rgba(175, 175, 175, 0.1);
/*  border: 2px solid #eee;*/
/*  color: rgb(104, 207, 155);*/
}
.green {
  color: rgb(104, 207, 155);
}
.amber {
  color: rgb(228, 147, 7);
}
.red{
  color: rgb(231, 113, 27);
}
.blue {
  color: rgb(0, 120, 215);
}


div.indicator > * {
  padding: 10px;
}

div.indicator > i {
  float: left;
  vertical-align: middle;
  font-size: 48px;
  font-weight: bold;
}

div.indicator > div.title {
  font-size: 18px;
  font-weight: bold;
  vertical-align: top;
  text-align: right;
}

div.indicator > div.value {
  text-align: right;
  vertical-align: bottom;
}



textarea {
  margin-left: 3%;
  border: 2px solid #018641;
  width: 90%;
  height: 350px;
}

.codeBloc {
  width: 95%;
}

.content {
  margin: 10px;
  padding: 0;
}

#loader {
  position: fixed; /* or absolute */
  top: 25%;
  left: 25%;
}

.excel2Tac > *, .evo2tac > * {
  width: 45%;
  vertical-align: top;
/*  height: 600px;*/
  border: 1px solid #ddd;
}

.excel2Tac, .evo2tac {
    width: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
}

.header {
    background: #666;
    height: 44px;
    line-height: 44px;
    width: 100%;
    color: #fff;
}

.connectorset {
  background: rgb(255, 192, 203, 0.5); /*pink;*/
  border: 3px solid rgb(255, 192, 203, 0.5);
}

table {
    width: 100%;
}

td {
    border-bottom: solid 1px #ddd;
}

.checklist {
  background: #94BCA7;
/*  border: 3px solid #94BCA7;*/
  font-weight: bold;
}

.page {
  background: #DEE6EE;
/*  border: 3px solid #DEE6EE;*/
  font-weight: bold;
}

.group {
  background: #eff2f6;
/*  border: 3px solid #eff2f6;*/
  font-weight: bold;
}

.Process {
  background: rgba(255, 255, 153, 0.5); /*yellow;*/
  border: 3px solid rgba(255, 255, 153, 0.5);
}

.XOR {
  background: rgba(204, 153, 255, 0.5); /* #2095FE;*/
  border: 3px solid rgba(204, 153, 255, 0.5);
}

.Event {
  background: rgba(153, 255, 153, 0.5); /* #2095FE;*/
  border: 3px solid rgba(153, 255, 153, 0.5);
}

.Result {
  background: rgba(255, 153, 153, 0.5); /* #FF9999;*/
  border: 3px solid rgba(255, 153, 153, 0.5);
}

.objecttype {
    margin: 3px;
    border-radius: 5px;
    display: inline-block;
}

h1 {
    font-size: 18px;
    padding: 20 0 0 0;
    margin: 0px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.chart {
  display: inline-block;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
